@import "colors.css";

body {
  padding: 0;
  margin: 0;
}

#nav-bar {
  overflow: hidden;
  background-color: var(--primary-color);
  position: relative;
  color: white;
  font-size: 16px;
}

#nav-bar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

#nav-bar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

#nav {
  display: none;
}

#logo {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 32px;
}
