@import "main.css";

main {
  padding-top: 0;
}

#container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo {
  width: 33%;
  margin-right: 0.5%;
  position: relative;
}

.photo > img {
  width: 100%;
}

.description > p {
  position: relative;
  z-index: 1;
  display: block;
  color: white;
  font-weight: bold;
  margin-top: 46%;
  text-align: center;
  font-size: 18px;
}

.description {
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  right: 0;
  bottom: 4px; /*why .photo block height is width + 4px?*/
  opacity: 0;
  transition: opacity 0.2s ease;
}

.photo:hover > .description {
  opacity: 0.75;
}

.photo:nth-child(3n) {
  margin-right: 0;
}



.photo-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.88);
}

.photo-container {
  display: block;
  height: 60vh;
  margin: 20vh auto;
  padding: 30px;
  color: white;
}

.photo-container > img {
  display: block;
  height: 80%;
  margin: 0 auto;
}

.modal-footer {
  user-select: none;
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
}

.modal-footer > * {
  display: inline-block;
}

#modal-close {
  position: fixed;
  display: block;
  font-size: 40px;
  top: 25px;
  right: 25px;
}

.disabled-btn {
  color: gray;
}

.modal-icon.disabled-btn:hover {
  background: none; 
}

.modal-icon {
  padding-left: 25px;
  padding-right: 25px;
}

.modal-icon:hover {
  background: rgba(0, 0, 0, 0.90);
}
