@import "body.css";

main {
  margin: 32px auto 0 auto;
  width: 95%;
  max-width: 850px;
}

form {
  width: 95%;
  margin: 0 auto;
}

option {
  padding: 12px;
}

select {
  padding: 8px;
}

#fio {
  display: block;
  margin: 0.5rem 0;
  width: 95%;
}

textarea {
  width: 95%;
}

form:last-child input {
  padding: 8px;
  margin-right: 1rem;
}
